body{
    background-color: lightgrey;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}

footer{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#mainBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 10px 10px 0px 0px;
}

#radioFrame{
    width: 50%;
}

#contenido{
    background-color: white;
    padding: 2%;
}

.btn-group{
    display: flex;
}

.itemBanner{
    margin: 10px;
}