body{
    background-color: lightgrey;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}

footer{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
    color: #424242;
}

img{
    width: 100%;
}

hr{
    height: 1px;
    margin-top: 0px;
}

#mainBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222831;
}

#radioFrame{
    width: 50%;
}

#contenido{
    background-color: white;
    padding: 2%;
}

#redes{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

#fecha{
    font-size: small;
    color: gray; 
}

.btn-group{
    display: flex;
}

.itemBanner{
    margin: 10px;
}

.socialIcon{
    margin: 0px 5px;
    color: white;
}

.inicioNoti{
    width: 50%;  
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
    border: solid black 3px;
}