body{
    background-color: lightgrey;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

footer{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 170px;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: #424242;
}

img{
    width: 100%;
}

hr{
    height: 1px;
    margin-top: 0px;
}

#mainBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#logo{
    margin-left: 30px;
}

#contenido{
    background-color: white;
    padding: 2%;
}

#redesRadio{
    background-color: black;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom:0;
    width:100%;
}

#redes{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    flex-grow: 1;
}

#radio{
    flex-grow: 2;
    margin: 5px 0px;
    display: flex;
    align-items: center;
}

#share{
    flex-grow: 1;
}

#fecha{
    font-size: small;
    color: gray; 
}

.btn-group{
    display: flex;
}

.itemBanner{
    margin: 10px 20px;
}

#profile img{
    width: 60px;
    margin-right: 10px;
}

#profile a{
    color: white;
    font-weight: bold;
}

#profile a:hover {
    cursor: no-drop;
}

.socialIcon{
    margin: 0px 5px;
    color: white;
}

/* Aqui empieza responsive */
@media (max-width: 576px) { 
    .itemBanner{
        margin: 10px 8px;
    }

    #profile img{
        width: 38px;
        margin-right: 5px;
    }

    #profile a{
        font-size: 0.8rem;
    }
}

