.inicioNoti{
    width: 50%;  
    margin-right: 30px;
    float: left;
    border: solid black 3px;
}

@media (max-width: 768px) { 
    .inicioNoti{
        width: 100%;  
        margin-right: 0px;
        border: solid black 3px;
        margin-bottom: 10px;
    }
}