<h1><span class="badge badge-secondary">Lista bebidas</span></h1>
<h2>Domicilios también se hacen</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae ab laborum, 
    dolorum, atque minima laboriosam quisquam saepe placeat nisi nesciunt dicta! Ipsam 
    debitis molestias aperiam unde autem temporibus corrupti asperiores.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit tempore cum in architecto
     a? Nulla esse ipsa consequuntur sunt, magni assumenda ratione exercitationem perferendis 
     odit laboriosam magnam quod sequi rem repellat veniam ducimus placeat molestias quidem. 
     Distinctio facilis fugit ab beatae assumenda, consectetur quas ratione veritatis officia 
     dolorum voluptas dicta quis placeat in, hic temporibus dolore? Nam quibusdam possimus harum 
     adipisci sit veniam nisi in repudiandae magni consequatur quas, alias voluptatem amet, aperiam 
     deserunt nostrum facilis, esse sed minus? Est nesciunt corporis perferendis quia modi, soluta 
     ducimus aperiam, nam facere, ipsam quasi impedit? Maxime quam aliquam, iste quia accusamus 
     facilis!</p>