<h1 class="font-weight-bold">Nos veremos pronto</h1>
<time id="fecha"><i class="far fa-clock"></i> 15 Marzo, 2020</time>
<hr>

<div class="inicioNoti">
    <img src="images/salsoteca/cerramosPuertas.jpg" alt="dicoteca cerrada">
</div>
<p class="text-justify enunciado">Lastimosamente por las circunstancias que estamos viviendo 
    relacionadas con la pandemia del COVID-19 declarada por la Organización Mundial de la Salud (OMS) 
    el 11 de marzo del 2020 y de acuerdo con el Decreto 531, mediante el cual se imparten instrucciones 
    para el cumplimiento del Aislamiento Preventivo Obligatorioen todo el territorio colombiano, nos 
    hemos visto en la obligación de cerrar nuestras puertas a nuestros queridos clientes, pero más que 
    una obligación para nosotros, se trata de darle prioridad a su salud, la de su familia y la nuestra 
    por supuesto.</p>

<p class="text-justify enunciado">Pero la diversión no para, seguiremos dándote lo mejor de nuestra 
    salsa por este medio, nuestra radio virtual RADIO BORINCUBA. Esperamos contar con el apoyo de 
    ustedes para que nos sintonicen y nos recomienden, nosotros estaremos dándole a ustedes una 
    excelente programación y algunas excelentes historias de este gran género musical.</p>

<p class="text-justify enunciado">Estamos abiertos a recibir todo tipo de comentarios y sugerencias 
    para mejorar nuestra plataforma virtual, los cuales pueden ser enviados a nuestro correo 
    <i class="far fa-envelope-open"></i>
    <a href="mailto:sugerencias@borincuba.com" class="font-italic" title="Enviar email">sugerencias@borincuba.com</a>, 
    pronto estaremos comunicando muy pronto, cómo puedes seguir apoyándonos como proyecto salsero por 
    este medio.</p>

<p class="text-center">Agradeciendo por su comprensión y apoyo SALSOTECA BORINCUBA.</p>